:root{
    --black: 11, 13, 14;
    --darkgray: rgb(26, 30, 32);
    --gray: rgb(224, 224, 224);
    --yelow: rgb(241, 196, 59);
    --gold: rgb(140, 113, 32);

}

h1{
    font-size: 1.8rem;

}
p, a, h1{
    color: var(--gold);

}

h2, i{
    color: var(--gray)
}

body{
    background-color: var(--gray);
}
header{
    position: fixed;
    top: 0;
    right: 15px;
    background-color: var(--gray);
    width: 100%;
}
header>ul{
    display: flex;
    justify-content: flex-end;
}
header>ul>a{
    color: rgb(var(--black));
    text-decoration: none;
    padding: 18px;
    margin: 0 5px;
}

main{
    background-color: var(--darkgray);
    margin: 2%;
}

.apresentacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--darkgray);
    height: 100vh;
    padding: 20px;
}
.apresentacao>h1{
    text-align: center;
    margin: 5px;
}
.apresentacao>h2{
    font-size: 1.5rem;
    text-align: center;
    margin: 15px;

}
.apresentacao>span{
    display: block;
    text-align: center;
    margin: 10px 0;
}
.icones{
    font-size: 2.3rem;
}

.sobre{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    min-height: 50vh;
    padding: 20px;
}
.sobre>div{
    padding: 2rem;
}

.projeto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 50vh;

}

.projeto>div{
    height: 10%;
}
.projeto>div:last-child{
    height: 90%;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cards>a{
    background-color: rgba(var(--black), 0.5);
    width: 35%;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;

}


/* certificado---------------------------- */
.certificado{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 50vh;
}

.certificado>div>h1{
    font-size: 2rem;
}

.certificado>div:last-child{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 0 50px 0px;
}

.item{
    width: 45%;
    height: 65%;
}



/* .item{
    /* display: flex;
    flex-direction: row; */
    /* background-color: brown;
    width: 25%; */

/* }

.item>h2{
    font-size: 1.5rem;
    text-align: center;

}

.item>p{
    font-size: .8rem;
} */ 
